/database
/Wiki
/node
/Notes
script/*.csv
script/*.geojson
script/*.txt
script/*.sh
src/croquis
src/photos
src/fonts
src/lib/leaflet*
src/lib/Leaflet*
src/lib/L.*
src/lib/jquery*
src/lib/spin*
src/lib/mustache*
archive
org
tests
opp34_download
src/data/coms.geojson
*.back
.DS_Store
