<p class="title">A propos</p>
<div class='desc'>
  <p>
    En 2011, <b>les Causses et les Cévennes</b> ont été inscrits sur la liste du <b>Patrimoine Mondial de l'UNESCO</b> en tant que <b>paysage culturel</b> vivant de l'<b>agropastoralisme</b> méditerranéen.
  </p>
  <p>
    En effet, ce paysage illustre comment <b>l'homme s'est adapté</b> à un territoire particulièrement difficile, en organisant la vie autour des pratiques d'élevage pastoral, <b>jusqu'à constituer une culture à part entière.</b>
  <p>
    <b>L'observatoire photographique du paysage</b> est outil de gestion dont le principe consiste à photographier régulièrement le même point de vue. Les séries photographiques ainsi obtenues <b>nous aident à mieux percevoir les évolutions paysagères.</b>
  </p>
  <p>
    Cette application a été développée par <a href="http://www.causses-et-cevennes.fr/">l'Entente Interdépartementale des Causses et des Cévennes</a> dans le but de <b>valoriser de façon ludique nos clichés et ceux de nos partenaires.</b>
  </p>
    <img src="icons/logos/eicc.png" class='large'></img><img src="icons/logos/pnc_logo.jpg"></img><img src="icons/logos/4CAUE.png"></img>
  <p>
    <a class='vopp'>VOPP</a>, le code source de ce site, est ouvert et peut être réutilisé pour valoriser d'autres obversatoires photographiques. <a href="https://github.com/CaussesCevennes/VOPP">Lien vers le dépôt.</a>
  </p>
</div>
