<p class="title">A propos</p>
<div class='desc'>
  <p>
    <b>L'observatoire photographique du paysage</b> est un outil de gestion dont le principe consiste à photographier régulièrement le même point de vue. Les séries photographiques ainsi obtenues <b>nous aident à mieux percevoir les évolutions paysagères.</b>
  </p>
  <p>
    Ce site utilise l'application <a class='vopp'>VOPP</a> développée par <a href="http://www.causses-et-cevennes.fr/">l'Entente Interdépartementale des Causses et des Cévennes</a>. Le code source est <a href="https://github.com/CaussesCevennes/VOPP">ouvert</a> et peut être réutilisé pour valoriser d'autres obversatoires photographiques.
  </p>
</div>
